<% if item.variant.option_values.any? || item.variant.is_master?%>
  <td data-hook="order_item_description">
    <h4><%= item.variant.product.name %></h4>
    <%= truncated_product_description(item.variant.product) %>
    <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
  </td>
<% else %>
  <td data-hook="order_item_description">
    <% auction = item.variant.auction %>
    <h4>
      <%= link_to auction.title, auction %>
    </h4>
    <%= truncate_html(auction.description) %>
  </td>
<% end %>
